<mat-card>
  <form (ngSubmit)="guardarEncuesta(forma)" #forma="ngForm">
    <mat-card-header>
      Plantilla {{ item?.surveyTemplateId }}
    </mat-card-header>
    <mat-card-content>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item *ngFor="let section of item?.sections; let sectionIndex = index;"
                            #accordionItem="cdkAccordionItem"
                            class="example-accordion-item"
                            role="button"
                            tabindex="0"
                            [attr.id]="'accordion-header-' + sectionIndex"
                            [attr.aria-expanded]="accordionItem.expanded"
                            [attr.aria-controls]="'accordion-body-' + sectionIndex">
          <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            {{ section.name }}
            <span class="example-accordion-item-description">
        Click para {{ accordionItem.expanded ? 'cerrar' : 'abrir' }}
      </span>
          </div>

          <div class="example-accordion-item-body" role="region"
               [style.display]="accordionItem.expanded ? '' : 'none'"
               [attr.id]="'accordion-body-' + sectionIndex"
               [attr.aria-labelledby]="'accordion-header-' + sectionIndex">
            <div *ngFor="let question of section.questions; let questionIndex = index;">
              <div [ngSwitch]="question.type">

                <div *ngSwitchCase="'OPEN'">
                  <mat-form-field [style.width.%]="100">
                    <mat-label>{{ question.statement }}</mat-label>
                    <input [id]="section.sectionId+'_'+question.questionId"
                           [name]="section.sectionId+'_'+question.questionId" matInput
                           [(ngModel)]="userResponses[sectionIndex][questionIndex]">
                  </mat-form-field>
                </div>
                <div *ngSwitchCase="'DATE'">
                  <mat-form-field [style.width.%]="100">
                    <mat-label>{{ question.statement }}</mat-label>
                    <input [id]="section.sectionId+'_'+question.questionId"
                           [name]="section.sectionId+'_'+question.questionId" matInput [matDatepicker]="picker"
                           [(ngModel)]="userResponses[sectionIndex][questionIndex]">
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div *ngSwitchCase="'MULTIPLE_OPTION'">
                  <mat-form-field [style.width.%]="100">
                    <mat-label>{{ question.statement }}</mat-label>
                    <mat-select [(ngModel)]="userResponses[sectionIndex][questionIndex]"
                                name="question_{{sectionIndex}}">
                      <mat-option *ngFor="let option of getOptions(question); let i = index"
                                  [value]="option">
                        <span [attr.id]="section.sectionId+'_'+question.questionId+'_'+i">{{option}}</span></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button type="submit" color="primary">Enviar</button>
    </mat-card-footer>
  </form>
</mat-card>

